/* Root */
html    {
    background-color: #E7E7E7;
    
}

.card   {
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    min-height: 100%;

    height: 669px;
    width: 75%;
    background-color: white;
    margin: 25px 30px;
    box-shadow: 10px 10px 40px  #888888;
    border-radius: 25px;

    background-color: rgba(144,238,144, .7);
}

.headerContainer   {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end:span 2;
    -ms-grid-row-span: 2;
    width: 20%;
    padding: 0px 0px;
    font-size: 24pt;
    margin: auto;
}

a   {
    text-decoration: none;
    color: black;
}

div{
    display: grid;
}


/*About Me*/
table   {
    margin: 0px;
}

td > p  {
    margin: 50px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.20em;
}

td > a  {
    height: 100%;
}
#imgCell img   {
    border-radius: 25px 0px 0px 25px;
    height: 100%;
    margin: 0px;
}

#imgCell    {
    margin: 0px;
}

#infoCell    {
    text-align: justified;
    width: 50%;
    padding: 67px;
    
}

#name   {
    font-weight: bold;
    font-size: 1.5em;
}

#email  {
    
    font-style:italic;
}


/*Mission Statement*/

#missionStatement   {
    margin: auto;
    padding: 20px;

    border-style: solid;
    border-color: lightgray;

    box-shadow: 10px 10px 40px  #888888;
    border-radius: 25px;

    background-color: white;
}

#missionStatement > h3   {
    padding-left: 30px;
}

#quotationMark{

    display: block;
    float: left;
    grid-column: 1;
    grid-row: 1;
    margin-top: -10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size:100px;
    color:black;
    font-family: "Times New Roman", Georgia, Serif;
    
}
/*Education*/
#educationHeading   {
    text-align: center;

    padding: 0px 100px;
}

#highSchool {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column: 2;
    grid-row: 1;
    
    width: 50%;
    height: 75%;
    margin: auto;
    padding: 10px;

    border-style: solid;
    border-color: lightgray;

    box-shadow: 10px 10px 40px  #888888;
    border-radius: 25px;

    background-color: white;
}

#highSchoolHeading  {
    margin: auto;
}

#hsTime {
    grid-column: 1;
    grid-row: 3;

    margin: auto;
}
#hsDesc {
    grid-column: 2;
    grid-row-start: span 2;
    grid-row-end:span 3;

    margin: auto;
}

#hsLogo {
    grid-column: 2;
    grid-row: 1;

    margin: auto;
}

#college    {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column: 2;
    grid-row: 2;
    
    width: 50%;
    height: 75%;
    margin: auto;
    padding: 10px;

    border-style: solid;
    border-color: lightgray;

    box-shadow: 10px 10px 40px  #888888;
    border-radius: 25px;

    background-color: white;
}

#collegeHeading  {
    margin: auto;
}

#cName  {
    margin: auto;
}

#cTime {
    grid-column: 1;
    grid-row: 3;

    margin: auto;
}
#cDesc {
    grid-column: 2;
    grid-row-start: span 2;
    grid-row-end:span 3;

    margin: auto;
}

#cLogo {
    grid-column: 2;
    grid-row: 1;

    margin: auto;
}
/* NAVIGATION BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:white;

}

li a:hover {
    background-color: #111;
}


#csiLogo {
    display: block;
    width: 444px;
    height: 98px;
}

#gsLogo {
    display: block;
    width: 200px;
    height: 98px;
}